/*!
Theme Name: moverfriend
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: moverfriend
Tags: 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

moverfriend is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*! tailwindcss v2.2.16 | MIT License | https://tailwindcss.com*/
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */html{-moz-tab-size:4;-o-tab-size:4;tab-size:4;line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji}hr{height:0;color:inherit}abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:initial}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:initial}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}button{background-color:initial;background-image:none}fieldset,ol,ul{margin:0;padding:0}ol,ul{list-style:none}html{font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}body{font-family:inherit;line-height:inherit}*,:after,:before{box-sizing:border-box;border:0 solid}hr{border-top-width:1px}img{border-style:solid}textarea{resize:vertical}input::-moz-placeholder,textarea::-moz-placeholder{opacity:1;color:#9ca3af}input:-ms-input-placeholder,textarea:-ms-input-placeholder{opacity:1;color:#9ca3af}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}[role=button],button{cursor:pointer}:-moz-focusring{outline:auto}table{border-collapse:collapse}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}button,input,optgroup,select,textarea{padding:0;line-height:inherit;color:inherit}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[hidden]{display:none}*,:after,:before{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));--tw-border-opacity:1;border-color:rgba(229,231,235,var(--tw-border-opacity));--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000}.entry-content{color:#374151}.entry-content a{color:red;text-decoration:underline;font-weight:500}.entry-content strong{color:#111827;font-weight:600}.entry-content ol[type=A]{--list-counter-style:upper-alpha}.entry-content ol[type=a]{--list-counter-style:lower-alpha}.entry-content ol[type=A s]{--list-counter-style:upper-alpha}.entry-content ol[type=a s]{--list-counter-style:lower-alpha}.entry-content ol[type=I]{--list-counter-style:upper-roman}.entry-content ol[type=i]{--list-counter-style:lower-roman}.entry-content ol[type=I s]{--list-counter-style:upper-roman}.entry-content ol[type=i s]{--list-counter-style:lower-roman}.entry-content ol[type="1"]{--list-counter-style:decimal}.entry-content hr{border-color:#e5e7eb;border-top-width:1px;margin-top:3em;margin-bottom:3em;border-bottom-width:0}.entry-content blockquote{font-weight:500;font-style:italic;color:#111827;border-left-width:.25rem;border-left-color:#e5e7eb;quotes:"\201C""\201D""\2018""\2019";margin-top:1.6em;margin-bottom:1.6em;padding-left:1em}.entry-content blockquote p:first-of-type:before{content:open-quote}.entry-content blockquote p:last-of-type:after{content:close-quote}.entry-content h1{color:#111827;font-weight:800;font-size:2.25em;margin-top:0;margin-bottom:.8888889em;line-height:1.1111111}.entry-content h2{color:#111827;font-weight:700;font-size:1.5em;margin-top:2em;margin-bottom:1em;line-height:1.3333333}.entry-content h3{color:#111827;font-weight:600;font-size:1.25em;margin-top:1.6em;margin-bottom:.6em;line-height:1.6}.entry-content h4{color:#111827;font-weight:600;margin-top:1.5em;margin-bottom:.5em;line-height:1.5}.entry-content figure figcaption{color:#6b7280;font-size:.875em;line-height:1.4285714;margin-top:.8571429em}.entry-content code{color:#111827;font-weight:600;font-size:.875em}.entry-content code:after,.entry-content code:before{content:"`"}.entry-content a code{color:#111827}.entry-content pre{color:#e5e7eb;background-color:#1f2937;overflow-x:auto;font-size:.875em;line-height:1.7142857;margin-top:1.7142857em;margin-bottom:1.7142857em;border-radius:.375rem;padding:.8571429em 1.1428571em}.entry-content pre code{background-color:initial;border-width:0;border-radius:0;padding:0;font-weight:400;color:inherit;font-size:inherit;font-family:inherit;line-height:inherit}.entry-content pre code:after,.entry-content pre code:before{content:none}.entry-content table{width:100%;table-layout:auto;text-align:left;margin-top:2em;margin-bottom:2em;font-size:.875em;line-height:1.7142857}.entry-content thead{color:#111827;font-weight:600;border-bottom-width:1px;border-bottom-color:#d1d5db}.entry-content thead th{vertical-align:bottom;padding-right:.5714286em;padding-bottom:.5714286em;padding-left:.5714286em}.entry-content tbody tr{border-bottom-width:1px;border-bottom-color:#e5e7eb}.entry-content tbody tr:last-child{border-bottom-width:0}.entry-content tbody td{vertical-align:top;padding:.5714286em}.entry-content{font-size:1rem;line-height:1.75}.entry-content p{margin-top:1.25em;margin-bottom:1.25em}.entry-content figure,.entry-content img,.entry-content video{margin-top:2em;margin-bottom:2em}.entry-content figure>*{margin-top:0;margin-bottom:0}.entry-content h2 code{font-size:.875em}.entry-content h3 code{font-size:.9em}.entry-content ol{list-style-type:decimal}.entry-content ol,.entry-content ul{margin-top:1.25em;margin-bottom:1.25em}.entry-content ul{list-style-type:disc}.entry-content li{margin-top:.5em;margin-bottom:.5em}.entry-content>ul>li p{margin-top:.75em;margin-bottom:.75em}.entry-content>ul>li>:first-child{margin-top:1.25em}.entry-content>ul>li>:last-child{margin-bottom:1.25em}.entry-content>ol>li>:first-child{margin-top:1.25em}.entry-content>ol>li>:last-child{margin-bottom:1.25em}.entry-content ol ol,.entry-content ol ul,.entry-content ul ol,.entry-content ul ul{margin-top:.75em;margin-bottom:.75em}.entry-content h2+*,.entry-content h3+*,.entry-content h4+*,.entry-content hr+*{margin-top:0}.entry-content thead th:first-child{padding-left:0}.entry-content thead th:last-child{padding-right:0}.entry-content tbody td:first-child{padding-left:0}.entry-content tbody td:last-child{padding-right:0}.entry-content>:first-child{margin-top:0}.entry-content>:last-child{margin-bottom:0}.entry-content [class~=is-style-lead]{color:#4b5563;font-size:1.25em;line-height:1.6;margin-top:1.2em;margin-bottom:1.2em}.entry-content h1 strong{font-weight:900}.entry-content h2 strong{font-weight:800}.entry-content h3 strong,.entry-content h4 strong{font-weight:700}.entry-content td,.entry-content th{border:0}.entry-title{color:#111827;font-weight:800;font-size:2.25em;margin-top:0;margin-bottom:.8888889em;line-height:1.1111111}.entry-content>*{margin-left:auto;margin-right:auto;max-width:100%}.entry-content>.alignwide{max-width:100%}.entry-content>.alignfull{max-width:none}.visible{visibility:visible}.fixed{position:fixed}.absolute{position:absolute}.left-0{left:0}.top-0{top:0}.right-0{right:0}.z-10{z-index:10}.order-first{order:-9999}.col-start-1{grid-column-start:1}.col-start-2{grid-column-start:2}.m-5{margin:1.25rem}.m-2{margin:.5rem}.my-20{margin-top:5rem;margin-bottom:5rem}.mx-auto{margin-left:auto;margin-right:auto}.mx-5{margin-left:1.25rem;margin-right:1.25rem}.my-10{margin-top:2.5rem;margin-bottom:2.5rem}.my-8{margin-top:2rem;margin-bottom:2rem}.my-5{margin-top:1.25rem;margin-bottom:1.25rem}.mb-20{margin-bottom:5rem}.mt-2{margin-top:.5rem}.mt-3{margin-top:.75rem}.mb-10{margin-bottom:2.5rem}.mt-10{margin-top:2.5rem}.mt-8{margin-top:2rem}.mb-5{margin-bottom:1.25rem}.mt-5{margin-top:1.25rem}.mb-1{margin-bottom:.25rem}.mb-12{margin-bottom:3rem}.mr-6{margin-right:1.5rem}.mb-2{margin-bottom:.5rem}.mb-8{margin-bottom:2rem}.mt-20{margin-top:5rem}.block{display:block}.flex{display:flex}.grid{display:grid}.hidden{display:none}.h-screen{height:100vh}.h-20{height:5rem}.h-64{height:16rem}.w-full{width:100%}.w-3\/5{width:60%}.w-20{width:5rem}.w-8{width:2rem}.max-w-6xl{max-width:72rem}.max-w-md{max-width:28rem}.max-w-5xl{max-width:64rem}.translate-x-full{--tw-translate-x:100%;transform:var(--tw-transform)}.-translate-x-0{--tw-translate-x:0px}.-translate-x-0,.transform{transform:var(--tw-transform)}.grid-flow-col{grid-auto-flow:column}.grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr))}.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr))}.items-end{align-items:flex-end}.items-center{align-items:center}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.gap-14{gap:3.5rem}.gap-2{gap:.5rem}.gap-5{gap:1.25rem}.space-y-10>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(2.5rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(2.5rem*var(--tw-space-y-reverse))}.space-y-2>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.5rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.5rem*var(--tw-space-y-reverse))}.space-y-3>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.75rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.75rem*var(--tw-space-y-reverse))}.space-y-5>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1.25rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1.25rem*var(--tw-space-y-reverse))}.space-x-2>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(.5rem*var(--tw-space-x-reverse));margin-left:calc(.5rem*(1 - var(--tw-space-x-reverse)))}.rounded{border-radius:.25rem}.rounded-md{border-radius:.375rem}.rounded-full{border-radius:9999px}.rounded-sm{border-radius:.125rem}.border-2{border-width:2px}.border{border-width:1px}.border-red-500{--tw-border-opacity:1;border-color:rgba(239,68,68,var(--tw-border-opacity))}.border-green-500{--tw-border-opacity:1;border-color:rgba(16,185,129,var(--tw-border-opacity))}.bg-white{--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}.bg-red-500{--tw-bg-opacity:1;background-color:rgba(239,68,68,var(--tw-bg-opacity))}.bg-red-100{--tw-bg-opacity:1;background-color:rgba(254,226,226,var(--tw-bg-opacity))}.object-cover{-o-object-fit:cover;object-fit:cover}.p-5{padding:1.25rem}.py-20{padding-top:5rem;padding-bottom:5rem}.py-3{padding-top:.75rem;padding-bottom:.75rem}.px-8{padding-left:2rem;padding-right:2rem}.py-5{padding-top:1.25rem;padding-bottom:1.25rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.pt-20{padding-top:5rem}.pb-1{padding-bottom:.25rem}.text-center{text-align:center}.text-sm{font-size:.875rem;line-height:1.25rem}.text-3xl{font-size:1.875rem;line-height:2.25rem}.text-lg{font-size:1.125rem;line-height:1.75rem}.text-4xl{font-size:2.25rem;line-height:2.5rem}.text-6xl{font-size:3.75rem;line-height:1}.text-2xl{font-size:1.5rem;line-height:2rem}.text-5xl{font-size:3rem;line-height:1}.font-light{font-weight:300}.font-bold{font-weight:700}.font-medium{font-weight:500}.text-white{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}.text-red-500{--tw-text-opacity:1;color:rgba(239,68,68,var(--tw-text-opacity))}.text-gray-500{--tw-text-opacity:1;color:rgba(107,114,128,var(--tw-text-opacity))}.text-gray-400{--tw-text-opacity:1;color:rgba(156,163,175,var(--tw-text-opacity))}.text-gray-900{--tw-text-opacity:1;color:rgba(17,24,39,var(--tw-text-opacity))}.text-gray-700{--tw-text-opacity:1;color:rgba(55,65,81,var(--tw-text-opacity))}.text-gray-600{--tw-text-opacity:1;color:rgba(75,85,99,var(--tw-text-opacity))}.text-green-500{--tw-text-opacity:1;color:rgba(16,185,129,var(--tw-text-opacity))}.no-underline{text-decoration:none}.shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.transition-transform{transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.duration-300{transition-duration:.3s}.hover\:border-red-500:hover{--tw-border-opacity:1;border-color:rgba(239,68,68,var(--tw-border-opacity))}@media (min-width:640px){.sm\:hidden{display:none}}@media (min-width:768px){.md\:order-last{order:9999}.md\:mx-10{margin-left:2.5rem;margin-right:2.5rem}.md\:mx-auto{margin-left:auto;margin-right:auto}.md\:block{display:block}.md\:flex{display:flex}.md\:grid{display:grid}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}.md\:space-y-0>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0px*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0px*var(--tw-space-y-reverse))}.md\:space-y-1>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.25rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.25rem*var(--tw-space-y-reverse))}.md\:text-center{text-align:center}.md\:text-5xl{font-size:3rem;line-height:1}}